.roadmap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #272727;
  height: auto;
  min-height: 78vh;
  flex-direction: column;
  padding: 4rem 0rem;
}
.roadmap h1 {
  font-family: "Changa";
  color: white;
  font-size: 4rem;
  text-transform: uppercase;
  overflow: visible;
}
.roadmap-title {
  font-family: "Changa";
}
.roadmap-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  position: relative;
  overflow: visible;
}
.roadmap-bg {
  border-radius: 65px;
  width: 100%;
  object-fit: contain;
}
.pointer-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28%;
  position: absolute;
}
.left-pointer {
  width: 50%;
  display: flex;
  flex-direction: row;
}
.left-pointer2 {
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
}
.pointer-img {
  width: 50%;
  object-fit: contain;
}
.roadmap-pointer {
  font-family: "Jua";
}
.right-pointer {
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 4px;
}
.right-pointer h4 {
  font-size: 2rem;
  padding: 0px;
  margin: 0px;
  overflow: visible;
}
.right-pointer p {
  font-family: "Jua";
  font-size: 1.1rem;
  padding: 0px;
  margin: 0px;
  overflow: visible;
  width: 100%;
}
.pointer-div1 {
  width:50%;
  top: 2%;
  left: 36%;
}
.pointer-div2 {
  width: 50%;
  top: 20%;
  left: 10%;
}
.pointer-div2 .left-pointer {
  order: 2;
}
.pointer-div3 {
  width: 50%;
  left: 42%;
  top: 41%;
}
.pointer-div4 {
  width: 50%;
  top: 60%;
  left: 11%;
}
.pointer-div4 .left-pointer {
  order: 2;
}
.pointer-div5 {
  width: 50%;
  top: 81%;
  left: 42%;
}
@media screen and (max-width: 812px) {
  .right-pointer h4 {
    font-size: 1.2rem;
  }
  .right-pointer p {
    font-size: 0.9rem;
  }
  .pointer-div1 {
    top: 2.5%;
  }
  .pointer-div2 {
    left: 8%;
  }
  .pointer-div3 {
    left: 43%;
  }
  .pointer-div4 {
    left: 9%;
  }
  .pointer-div5 {
    top: 79%;
    left: 44%;
  }
}
@media screen and (max-width: 632px) {
  .right-pointer h4 {
    font-size: 1.2rem;
  }
  .right-pointer p {
    font-size: 0.9rem;
  }
  .pointer-div {
    width: 65%;
  }
  .left-pointer {
    width: 30%;
  }
  .left-pointer2 {
    width: 30%;
    flex-direction: row-reverse;
  }
  .pointer-div1 {
    top: 3%;
    left: 20%;
  }
  .pointer-div2 {
    top: 19%;
    left: 28%;
  }
  .pointer-div2 .right-pointer {
    order: 2;
  }
  .pointer-div3 {
    left: 14%;
    top: 38%;
  }
  .pointer-div4 {
    top: 61%;
    left: 28%;
  }
  .pointer-div4 .right-pointer {
    order: 2;
  }
  .pointer-div5 {
    top: 81%;
    left: 10%;
  }
  .pointer-div1 .left-pointer2 {
    order: 2;
  }
  .pointer-div2 .left-pointer {
    order: 1;
  }
  .pointer-div3 .left-pointer2 {
    order: 2;
  }
  .pointer-div4 .left-pointer {
    order: 1;
  }
  .pointer-div5 .left-pointer2 {
    order: 2;
  }
}
@media screen and (max-width: 478px) {
  .roadmap {
    padding: 0rem;
  }
  .roadmap h1 {
    font-size: 2.5rem;
  }
  .right-pointer h4 {
    font-size: 1.1rem;
  }
  .right-pointer p {
    font-size: 0.7rem;
    width: 100%;
  }
  .pointer-div {
    width: 70%;
  }
  .left-pointer {
    width: 65%;
  }
  .left-pointer2 {
    width: 65%;
    flex-direction: row;
  }
  .left-pointer img {
    width: 50%;
  }
  .right-pointer {
    width: 85%;
  }
  .pointer-div1 {
    top: -1%;
    left: 15%;
  }
  .pointer-div2 {
    top: 13%;
    left: 32%;
  }
  .pointer-div2 .left-pointer {
    text-align: center;
  }
  .pointer-div3 {
    left: 16%;
    top: 30%;
  }
  .pointer-div4 {
    top: 55%;
    left: 32%;
  }
  .pointer-div4 .left-pointer {
    text-align: center;
  }
  .pointer-div5 {
    top: 77%;
    left: 15%;
  }
  .pointer-div1 .left-pointer2 {
    order: 2;
  }
  .pointer-div2 .left-pointer {
    order: 0;
  }
  .pointer-div3 .left-pointer2 {
    order: 2;
  }
  .pointer-div4 .left-pointer {
    order: 0;
  }
  .pointer-div5 .left-pointer2 {
    order: 2;
  }
  .pointer-div1 .right-pointer,
  .pointer-div3 .right-pointer,
  .pointer-div5 .right-pointer {
    padding-left: 20px;
  }
  .pointer-div1 .right-pointer {
    padding-top: 20px;
  }
  .pointer-div2 .right-pointer,
  .pointer-div4 .right-pointer {
    padding-right: 20px;
  }
}
@media screen and (max-width: 410px) {
  .roadmap {
    padding: 2rem 0rem;
  }

  .right-pointer h4 {
    font-size: 1.1rem;
  }
  .pointer-div1 {
    top: -2%;
    left: 11%;
  }
  .pointer-div2 {
    top: 10%;
    left: 35%;
  }
}
